BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 90
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
AlignTrailingComments: true
SortIncludes: false
ReflowComments: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentGotoLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
